/*general styling*/
*{
  font-family: 'Titan One', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}


html {
scroll-behavior: smooth;
}


body {
  padding-top:60px;
  background-color:#FFEBCC;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}


/*styling headers*/
.header {
background-color: #FFB034;
text-align: center;
margin-bottom: 70px;
}


.header h1 {
color: white;
font-size: 5rem;
padding: 60px;
text-shadow: 5px 5px 0 #000, -3px -3px 0 #000,
  3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;
}


h2{
color: white;
font-size: 3rem;
-webkit-text-stroke: 1px #4A310A;
margin-bottom:24px;
}


h3{
color: white;
font-size: 2.5rem;
-webkit-text-stroke: 1px #4A310A;
margin-bottom:24px;
}


/*styling text*/
p {
font-size: 1.5rem;
}


/*styling links*/
a {
font-size: 1.5rem;
color: inherit;
}
a:hover{
color:#4A310A;
}


/*apply same style to all div*/
.overview, .presentation, .team, .journey, .summary, .workDist{
display: flex;
flex-direction: column;
background-color: #FFEBCC;
margin: 30px 220px 30px 150px; /*top right bottom left*/
padding: 30px 50px 30px 50px;
text-align:center;
scroll-margin-top:120px;
align-items:center;
}


.summary h2 {
font-size: 2.5rem;
}


/*styling table*/
table {
width: 100%;
border-collapse: collapse;
}


table th, table td {
padding: 0px 15px;
vertical-align:top;
text-align:left;
}


table td ul {
padding-left:30px;
margin:0;
list-style-type:disc;
}


table td li {
padding:4px;
}


th{
color: white;
font-size: 2rem;
-webkit-text-stroke: 1px #4A310A;
}


td {
font-size: 1.2rem;
}




/*styling navigation bar*/
.navbar {
position: fixed;
top:0;
width:100%;
background-color: #1B1F31;
color: white;
padding: 1rem;
margin-left:24px;
display: flex;
gap: 2rem;
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


.navbar a {
color:white;
text-decoration:none;
font-size:1.5rem;
}


.navbar a:hover{
color:#b8bfdb;
}


/*individual div styling*/


/*styling introduction part*/
.app {
display:flex;
justify-content: center;
align-items:center;
flex-direction:column;
}


.app p {
font-size:2.5rem;
-webkit-text-stroke: 2px #4A310A;
color:white;
}
.overview{
max-width:1200px;
margin:0 auto;
width:100%;
}
.overview p {
font-size: 1.5rem;
max-width:900px;
}


.download-button {
display: inline-block;
padding: 10px 20px;
background-color: #FFB034;
color: white;
text-align: center;
text-decoration: none;
-webkit-text-stroke: 2px #4a310ae3;
border-radius: 8px;
border:2px solid #4a310ad0;
font-size: 2rem;
cursor: pointer;
}


.download-button:hover {
background-color: #ffcc7a;
color:white;
}


/*styling photos on figma*/
.figma-photos {
display:flex;
justify-content:center;
gap:16px;
}


.photo {
width: 100%;
max-width: 700px;
object-fit: cover;
}


.view-link{
display: inline-block;
padding: 10px 20px;
margin:24px;
background-color: #ffb13400;
color: white;
text-align: center;
text-decoration: none;
-webkit-text-stroke: 2px #4a310a;
border:2px solid #4A310A;
border-radius: 5px;
font-size: 2rem;
cursor: pointer;
}


.view-link:hover {
background-color: #ffcc7a;
color:white;
}


.summary {
max-width:900px;
margin:0 auto;
width:100%;
}


.summary ul {
padding:16px;
padding-left:0;
text-align:left;
}


.summary li {
font-size:1.5rem;
padding-left:1.5rem;
padding:8px;
}


.show {
display:flex;
flex-direction:row;
gap:16px;
}


.caption {
display: flex;
flex-direction:row;
gap:600px;
align-items:center;
justify-content: center;
}


.videos {
display:flex;
flex-direction: row;
gap:16px;
}

